@import "~antd/dist/antd.css";
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf')
}
              
* {
    box-sizing: border-box;
    font-family: 'Roboto', monospace;
}
body {
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 15px;
  border: 0.5px solid #e2e2e2;
  background-color: #e2e2e2;
  color: #e2e2e2;
}





/*
  FOOTER
*/

footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px;
    padding-bottom: 30px;
    background-color: aliceblue;
    box-shadow: var(--shadow);
    
}

footer.footer a {
    text-decoration: none;
}